@model WebAutoPark.Data.Entities.VehicleEntity

@{

}

    <h1 class="text-center" style="margin-bottom: 50px; margin-top: 50px;">
        Додати авто
    </h1>
    <div class="container">
        <form class="offset-md-4 col-md-4 form" action="@Url.Action("Create")" method="post" enctype="multipart/form-data">
            <div class="mb-3">
            <input type="text" class="input" id="Brand" name="Brand" placeholder="Марка">
            </div>

        <div class="mb-3">
            <input type="text" class="input" id="Model" name="Model" placeholder="Модель">
        </div>


            <button type="submit" class="button">Додати</button>
        </form>
    </div>

   


