@model CompanyEditVM


<h1 class="text-center" style=" margin-top: 50px;">
	Зміна компанії
</h1>
<div class="container">
	<form class="offset-md-3 col-md-6 mb-4" asp-action="Create" enctype="multipart/form-data">
		@* У цьому блоці виводяться не стандартні помилки *@
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<div class="mb-3">
			<label asp-for="Name" class="form-label"></label>
			<input asp-for="Name" class="form-control" required>
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary">Зберегти</button>
		<a asp-action="Index" class="btn btn-info">Скасувати</a>
	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
